body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
  }

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    top: 0;
    position: sticky;

}

.nav_links{
    display: flex;
    flex-direction: column;
}

.nav_links a:visited{
    color:#50C7C7;
}

.card header{
    z-index: 10;
    background-color: #288088;
    border: 2px solid #45aDAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    }

.pricing{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card{
    flex-basis: 450px;
    /* flex-direction: row;
    flex-wrap: wrap; */

}

.gallery{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

#image1 {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px; 
}
#image2 {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px; 
}

#image3 {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px; 
}

#image4 {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px; 
}

#image5 {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px; 
}

@keyframes {
    from {width: 50px; opacity: 0;}
    to {width: 425px; opacity: 1;}
    
}

#logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@media screen and (min-width: 850px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top:0;
        /* flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        width: 100%;
        margin: 0px auto; */
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card{
        flex-basis: 250px;
    }

    .pricing{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (prefers-reducded-motion:reduce){
    #logo{
        animation: none;
        /* animation-name: dissolve; */
    }
}

@media print{
    body{
        background-image: none;
    }

    nav{
        width: 100%;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .pricing{
        display: flex;
        align-items: flex-end;
        flex-flow: row;
        flex-wrap:nowrap;
    }
    .card{
        flex-basis: 250px;
        border: 2px solid #45addd;
    }
    .gallery{
        display: none;
    }

    .pricing li:nth-child(even):after{
        content: "\1F44D";
    }

    .pricing li:nth-child(odd):before{
        content: "\1F44D";
    }

}
